#coreConceptsCards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

#coreConceptsCards > * {
  flex: 1 1 calc(24% - 2rem);
  transition: transform 0.6s ease;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 800px) {
  #coreConceptsCards > * {
    flex: 1 1 calc(40% - 1rem);
  }
}

.coreConceptsCard:hover {
  transform: scale(1.1);
}
 
.coreConceptsCard img {
   height: 4rem;
}

.coreConceptsCard h3 {
  margin: 0.5rem 0;
  text-align: center;
  background: linear-gradient(40deg, #3b5486, #03d5ff, #7295dd, #03d5ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}